body {
  margin: 0;
  background-color: #e94560;
}

.head-container {
  text-align: center;
  padding: 3%;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.heading-txt {
  color: #0f3460;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.start-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 7px;
  background-color: #16213e;
  color: #fff;
  padding: 2%;
  cursor: pointer;
}

.main-container {
  text-align: center;
  background-color: #ffc7c7;
  width: 40%;
  margin: 0 auto;
  padding: 3% 0;
}

.clock {
  color: #4B37FA;
  font-size: 5rem;
}
