body {
  margin: 0;
  background-color: #e94560;
}

.head-container {
  text-align: center;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.heading-txt {
  color: #0f3460;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

.start-btn,
.pause-btn,
.reset-btn,
.break-btn,
.break-pause-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 7px;
  background-color: #16213e;
  color: #fff;
  padding: 2%;
  cursor: pointer;
  margin: 0 10px;
}

.pause-btn {
  display: none;
}

.reset-btn,
.break-pause-btn {
  display: block;
  visibility: hidden;
  margin: 12px auto;
  width: 20%;
}

.main-container {
  text-align: center;
  background-color: #ffc7c7;
  width: 30%;
  margin: 0 auto;
  padding: 3% 0;
  border-radius: 20px;
  border: 1px solid #0f3460;
}

.break-container {
  text-align: center;
  margin: 50px auto;
  width: 25%;
  padding: 3% 0;
  background-color: #F2AA0C;
  border-radius: 20px;
  border: 1px solid #0f3460;
  visibility: hidden;
}

#main-timer {
  color: #4B37FA;
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
}

#break-timer {
  color: #0f3460;
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
}

#footer {
  margin: 5% 0 0 0;
  text-align: center;
  border-radius: 5px;
}

.footer-container {
  background-color: #0f3460;
  padding: 4% 0;
  border: none;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

.footer-logo {
  color: #fff;
  font-size: 3rem;
  float: right;
  margin: 0 5px;
}
