body {
  margin: 0;
  background-color: #e94560;
}

.head-container {
  text-align: center;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.heading-txt {
  color: #0f3460;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.start-btn,
.pause-btn,
.reset-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 7px;
  background-color: #16213e;
  color: #fff;
  padding: 2%;
  cursor: pointer;
  margin: 0 10px;
}

.pause-btn {
  display: none;
}

.reset-btn {
  display: block;
  visibility: hidden;
  margin: 12px auto;
  width: 20%;
}

.main-container {
  text-align: center;
  background-color: #ffc7c7;
  width: 30%;
  margin: 0 auto;
  padding: 3% 0;
  border-radius: 20px;
  border: 1px solid #0f3460;
}

#timer {
  color: #4B37FA;
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
}
